<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <title>Login Page</title>
</head>
<body>
    <nav>
        <div>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('champions') }}">Champions</a>
        </div>
        <div class="search-container">
            <input type="text" id="search_input" placeholder="Search champion...">
            <ul id="suggestions" class="suggestions-box"></ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    <div class="container">
        <h1>Create new account</h1>
        <form id="changeForm" action="/update_passw" method="POST">
            <label for="old-password">Old password:</label>
            <input type="password" id="old-password" name="old-password" required><br>

            <label for="password">New password:</label>
            <input type="password" id="password" name="password" required><br>

            <button type="submit" id="changeButton">Change password</button>
        </form>
        <br>
        <button class="return-button" onclick="location.href='{{ url_for('profile') }}'">Back to profile</button>
    </div>
</body>
</html>